page-page1 {
    ion-content .scroll-content {
        padding-top: 0px !important;
        overflow: hidden !important;
    }
    ion-navbar .toolbar-background {
        background: transparent !important;
        border: none !important;
    }
    .top {
        padding-top: 40% !important;
        padding-bottom: 10% !important;
        background-color: map-get($colors, background);
        background-size: cover;
    }
    .grid {
        height: 100%;
    }
    ion-icon {
        font-size: 35pt;
    }
    ion-card {
        ion-card-content {
            text-align: center;
        }
    }
}